.module-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.module-card {
  position: relative;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
  padding: 10px;
  flex: 1 1 300px;
  margin: 15px 2%;
  display: flex;
  flex-direction: column;

  h3 {
      border-bottom: 1px solid #eee;
  }

  p {
      color: #666;
  }

  .btn-group {
    margin: auto auto 0;
  }

  .label-discount {
      position: absolute;
      top: -7px;
      right:-7px;
      font-size: 150%;
  }
}
