<div class="commentable">
    <h3>Hozzászólások</h3>

    <div class="comment clearfix"
         ng-repeat="comment in comments"
         ng-include=" 'partials/comment.html' "></div>

    <div ng-hide="loggedIn()">
        Hozzászólás írásához <a href="/login">be kell jelentkezni</a>
    </div>

    <div ng-show="loggedIn()">
        <div class="add-comment">
            <textarea class="comment-edit" ng-model="formComment.comment" placeholder="Ide írd az új hozzászólást..."></textarea>

            <div class="buttons">
                <button class="save btn btn-primary"
                        ng-click="createComment()">Elküld
                </button>
            </div>

        </div>
    </div>
</div>
