<section class="col-md-9 main" role="main">



    <h2 class="bordered top"><a class="label label-default" ng-href="/show/{{currentShow.alias}}">{{currentShow.name}}</a>  {{episode.plannedFrom |
        date:'yyyy. MMMM dd.'}}
    <listen-button ng-show="{{episode.m3uUrl}}" link="{{episode.m3uUrl}}"/></h2>

  <h1 class="ubuntu">{{episode.text.title}}</h1>

  <span ng-bind-html="episode.text.formatted"></span>

    <div id="comments" class="tab-pane"
         ng-show="isLoggedIn()"
         commentable="{{episode.id}}"
         commentable-type="EPISODE"
         logged-in="isLoggedIn()"></div>

</section>
<aside class="col-md-3">
<!--Dynamically changing field.-->
<div class="box" ng-controller="EpisodesCtrl">
<h2>Műsorvezetők</h2>
<div class="row">
<figure ng-repeat="author in show.contributors" class="show-author">
<a href="/author/{{author.author.alias}}">
<img ng-src="{{author.author.avatar}}"
alt="{{author.nick}}" class="show-author-image"></a>
<figcaption><a href="#/author/{{author.author.alias}}">{{author.nick}}</a></figcaption>
</figure>
</div>
</div>
<div class="box link-box">
<h2>Adásidő</h2>
<div class="row">
<ul>
<li ng-repeat="scheduling in show.schedulings">
{{scheduling.text}}
</li>
</ul>
</div>
</div>
<div class="box link-box" ng-show="show.urls.length > 0">
<h2>Linkek</h2>
<div class="row">
<ul>
<li ng-repeat="url in show.urls">
<a href="{{url.address}}">{{url.address| limitTo: 30}}</a>
</li>
</ul>
</div>
</div>
<div class="box">
<h2>Rss/Atom/Podcast</h2>
<a class="btn-default btn btn-lg btn-block rss" ng-href="{{server}}/feed/show/{{show.alias}}" target="_self">Feliratkozás <span
class="icon-rss-alt"></span></a>
</div>
</aside>

