<div class="episode-tab">
    <div class="panel panel-default episode-box" ng-repeat="episode in show.episodes">
        <div class="panel-heading">
            <listen-button class="pull-right" link="{{episode.m3uUrl}}"> </listen-button>
            <div class="episode-title">
                <a ng-show="episode.text" ng-href="{{episode.url}}">{{episode.plannedFrom| date:
                    'yyyy.MM.dd.'}} {{episode.text.title}}</a></span>
                <span ng-hide="episode.text">{{episode.plannedFrom| date: 'yyyy.MM.dd.'}}</span>
            </div>
        </div>
    </div>

</div>
<ul class="pager episode-box-pager">
    <li class="cursorPointer prev-link"><a ng-click="prev()">&larr; Korábbi adások</a></li>
    <li class="cursorPointer next-link" ng-if="currentShowPage != 0"><a ng-click="next()">Későbbi adások &rarr;</a>
    </li>
</ul>


