<section class="col-md-9 main" role="main">
    <h1 class="ubuntu">{{show.name}}</h1>

    <p class="show-definition">{{show.definition}}</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ui-sref-active="active"><a ui-sref="show.main({id: show.alias})">Archívum</a></li>
        <li ui-sref-active="active"><a ui-sref="show.intro({id: show.alias})">Bemutatkozás</a></li>
        <li ui-sref-active="active"><a ui-sref="show.mixes({id: show.alias})">Mixek <span ng-show="show.stats.mixCount > 0" class="badge">{{show.stats.mixCount}}</span></a>
        </li>
    </ul>

    <div ui-view/>

</section>

<aside class="col-md-3">
    <div class="box link-box" ng-show="show.urls.length > 0">
        <h2>Linkek</h2>

        <div class="fb-like" onrender="fbLikeRendered()"
             data-href="https://tilos.hu/show/{{show.alias}}"
             data-layout="button_count"
             data-action="like"
             data-show-faces="true"
             data-share="true"></div>

        <div class="row show-links">
            <ul>
                <li ng-repeat="url in show.urls">
                    </span><a ng-class="url.type" class="btn btn-danger" ng-href="{{url.address}}">
                    <span ng-class="url.icon"></span>
                    {{url.label}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-include src="'partials/sidebar_show.html'"></div>
</aside>


