<section class="col-md-12 main" role="main">
    <div class="module-card-wrap">
        <div class="module-card" ng-repeat="business in businesses | orderBy:'-discount'">
            <img src="/api/v1/ttt/business/business.name/photo.jpg" alt="business.name">
            <h3 ng-show="business.name">{{business.name}}</h3>
            <p ng-show="business.address">{{business.address}}</p>
            <p ng-show="business.description">{{business.description}}</p>
            <div class="btn-group" role="group">
                <a href="{{business.program}}" target="_blank" class="btn btn-default" ng-show="business.program">programok</a>
                <a href="{{business.url}}" target="_blank" class="btn btn-default" ng-show="business.url">weboldal</a>
                <a href="{{business.facebook}}" target="_blank" class="btn btn-default" ng-show="business.facebook">facebook</a>
            </div>
            <div ng-show="business.discount" class="label label-success label-discount">{{business.discount}}%</div>
        </div>
    </div>
</section>
