<aside class="col-md-push-9 col-md-3">
    <div ng-include src="'main/sidebar_right.html'"></div>
</aside>

<section class="col-md-pull-3 col-md-6 main" role="main">

    <div ng-show="lead.formatted" class="panel panel-default">
        <div ng-show="lead.formatted" class="panel panel-default">
            <div class="panel-heading">
                <b>{{lead.title}}</b>
            </div>
            <div class="panel-body" ng-bind-html="lead.formatted">
            </div>
        </div>

    </div>

    <div class="stream-banner" ng-show="extraStreams.indexOf('samsara')">
        <a href="http://stream.tilos.hu/samsara.m3u"><!--img src="../images/samsara_banner.png"/></a-->
    </div>

    <div class="stream-banner" ng-show="extraStreams.indexOf('selection_live_fogaskert')>-1">
        <a href="http://stream.tilos.hu/selection_live_fogaskert.m3u">
            <!--img src="../images/selection_banner.png"/--></a>
    </div>
        
<br>
<table width="100%" border="2" cellspacing="1" bordercolor="#CCCCCC">
  <tr>
    <td colspan="3" align="center" valign="top"><strong>GYŰJTŐK TEMATIKUS NAP - 12.11. vasárnap</strong></td>
  </tr>
  <tr>
    <td width="6%" valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-080000-090000.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td width="35%" valign="top"><strong>Kelta karó - Archívum az archívumban</strong></td>
    <td width="59%" valign="top"><em>Régi műsorok és felvételek magángyűjteményekben. Bíró György, a Magyar Technikai Múzeum szülőatyja,  illetve Nagy Vilmos, a terényi Orsósmagnó Múzeum gazdája kalauzolt minket körbe saját házuk melléképületeiben rejlő kincsesbányáikban, 2006-7-ben.</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-090000-100000.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>Teszt és Lélek</strong></td>
    <td valign="top"><em>Gyűjtőszenvedély</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-100000-113000.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>Alma a pályától</strong></td>
    <td valign="top"><em>Adatgyűjtés - vendég: Hann Endre, Medián Közvélemény- és Piackutató Intézet</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="http://archive.tilos.hu/sounds/tematikusnap/2016-Gyujtok/Gyujtok-04-Alap.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>Alap</strong></td>
    <td valign="top"><em>kalandok az indiai zenegyűjtés kapcsán</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="http://archive.tilos.hu/sounds/tematikusnap/2016-Gyujtok/Gyujtok-05-Megtervezett-Valosag.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>A megtervezett valóság</strong></td>
    <td valign="top"><em>A műgyűjtők világa, vendég:<br />
        Spengler Katalin műgyűjtő és Valkó Margit a Kisterem Galéria vezetője</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-140000-152000.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>Irodalmi lépegető - A gyűjtögető életmód</strong></td>
    <td valign="top"><em>Bartók, Parasztbiblia, és részletek Oldal Gábor - Hanglemezbarátok könyve című könyvéből - a szokásos zenei köntösben.</em></td>
  </tr>
    <tr>
    <td valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-151500-161000.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>Mersei Kata és <br />
      Számadó Peti (DJ Analóg)</strong></td>
    <td valign="top"><em>gyógynövény- és zenegyűjtés</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-160000-1710000.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>butAszerda</strong></td>
    <td valign="top"><em>történetek zenével</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-170000-1810000.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>Haza és Haladás</strong></td>
    <td valign="top"><em>Tóth Benedek (szotyis zacskók), Cukros Imike (kávéscukor), Bővíz Ferenc (telefonkártya és Kindertojás figura) gyűjtő</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-180000-1910000.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>Játékgyűjtők</strong></td>
    <td valign="top"><p>dr. Kopacsi Péter és Angel Twosix (Transformers, Mask, GI Joe, robotok)<br />
      <a href="http://www.flippermuzeum.hu/hu/" target="_blank">http://www.flippermuzeum.hu/hu/</a> - Pálfi Balázs a flippermúzeum igazgatója <br />
    <em><a href="http://ahianyzodarab.hu" target="_blank">http://ahianyzodarab.hu</a>/ -Molnár Péter gyűjtői podcast <a href="http://www.jatszohazprojekt.hu" target="_blank">http://www.jatszohazprojekt.hu</a>/ - Sághy Balázs társasjátékok</em></p></td>
  </tr>
    <tr>
    <td valign="top"><a href="http://archive.tilos.hu/sounds/tematikusnap/2016-Gyujtok/Gyujtok-11-Lemezgyujtok.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>Lemezgyűjtők      közvetítés a Müsziből!<br />
      házigazdák: BahamaKáosz és Tanka István (Dj Direct)</strong></td>
    <td valign="top"><em>lemezgyűjtők:Shuriken, Suhaid, Johhny Drama, Minich, Zotyka , Tomanek, BahamaKáosz</em></td>
  </tr>
  <tr>
    <td valign="top"><a href="https://archive.tilos.hu/mp3/tilos-20161211-220000-235900.mp3"><img src="https://tilos.hu/upload/content/info/play.png" alt="" /></a></td>
    <td valign="top"><strong>No wave</strong></td>
    <td valign="top"><em>tematikus zeneválogatás</em></td>
  </tr>
</table>
    <div ng-show="next.length" class="program-guides">
        <h2 class="blue">Műsorajánló</h2>

        <div class="episode-next episode-list" data-ng-repeat="episode in next">
            <h3><a ng-href="{{episode.url}}">{{episode.text.title}}</a></h3>

            <p>
                <show-label show="episode.show"></show-label>
                <span class="pull-right main-date">{{episode.plannedFrom | date:'MMMM dd. - HH:mm'}}</span>

            </p>
        </div>
    </div>
    <div class="recent-broadcast-schedule">
        <h2 class="blue top">Az elmúlt hét adásai</h2>

        <div class="episode-last episode-list" data-ng-repeat="episode in lastWeek">
            <p>

            <h3>
                <listen-button class="pull-right" link="{{episode.m3uUrl}}"></listen-button>
                <a ng-href="{{episode.url}}">{{episode.text.title}}</a>
            </h3>
            </p>
            <p>
                <show-label show="episode.show"></show-label>
                <span class="pull-right main-date hidden-xs">{{episode.plannedFrom | date:'yyyy. MMMM dd.'}}</span>
            </p>
        </div>
    </div>
    <div class="recent-broadcast-schedule">
        <h2 class="blue top">Legfrissebb adásnaplók</h2>

        <div class="episode-last episode-list" data-ng-repeat="episode in last">
            <p>

            <h3>
                <listen-button class="pull-right" link="{{episode.m3uUrl}}"></listen-button>
                <a ng-href="{{episode.url}}">{{episode.text.title}}</a>
            </h3>
            </p>
            <p>
                <show-label show="episode.show"></show-label>
                <span class="pull-right main-date hidden-xs">{{episode.plannedFrom | date:'yyyy. MMMM dd.'}}</span>
            </p>
        </div>
    </div>
</section> <!-- col-md-6 -->

<aside class="col-md-pull-3 col-md-3">
    <div class="box">
        <h2><a href="" target="_blank">Tilos hírek</a></h2>
        <article class="news-lead" ng-repeat="text in news">
            <h3><a ng-href="/news/{{text.id}}">{{text.title}}</a></h3>
            <span ng-bind-html="text.leadFormatted"></span></p>
            <a ng-show="text.longText" class="btn btn-small btn-info pull-right" ng-href="/news/{{text.id}}">Részletek...</a>
        </article>
    </div>
</aside>
