<aside class="col-md-push-9 col-md-3">
    <div ng-include src="'main/sidebar_right.html'"></div>
</aside>

<section class="col-md-pull-3 col-md-6 main" role="main">

    <div ng-show="lead.formatted" class="panel panel-default">
        <div ng-show="lead.formatted" class="panel panel-default">
            <div class="panel-heading">
                <b>{{lead.title}}</b>
            </div>
            <div class="panel-body" ng-bind-html="lead.formatted">
            </div>
        </div>

    </div>

    <div class="stream-banner" ng-show="extraStreams.indexOf('samsara')">
        <a href="http://stream.tilos.hu/samsara.m3u"><!--img src="../images/samsara_banner.png"/></a-->
    </div>

    <div class="stream-banner" ng-show="extraStreams.indexOf('selection_live_fogaskert')>-1">
        <a href="http://stream.tilos.hu/selection_live_fogaskert.m3u">
            <!--img src="../images/selection_banner.png"/--></a>
    </div>
        
<br>
<table width="100%" border="2" cellspacing="1" bordercolor="#CCCCCC">
  <tr>
    <td colspan="3" align="center" valign="top"><strong>GYŰJTŐK TEMATIKUS NAP - 12.11. vasárnap</strong></td>
  </tr>
  <tr>
    <td width="6%" valign="top">08:00</td>
    <td width="35%" valign="top"><strong>Irodalmi lépegető: Magnómúzeumos hangmontázs</strong></td>
    <td width="59%" valign="top"><em>Napindító, hangmontázs</em></td>
  </tr>
  <tr>
    <td valign="top">09:00</td>
    <td valign="top"><strong>Teszt és Lélek</strong></td>
    <td valign="top"><em>Gyűjtőszenvedély</em></td>
  </tr>
  <tr>
    <td valign="top">10:00</td>
    <td valign="top"><strong>Alma a pályától</strong></td>
    <td valign="top"><em>Adatgyűjtés - vendég: Hann Endre, Medián Közvélemény- és Piackutató Intézet</em></td>
  </tr>
  <tr>
    <td valign="top">11.30</td>
    <td valign="top"><strong>Alap</strong></td>
    <td valign="top"><em>kalandok az indiai zenegyűjtés kapcsán</em></td>
  </tr>
  <tr>
    <td valign="top">13.00</td>
    <td valign="top"><strong>A megtervezett valóság</strong></td>
    <td valign="top"><em>A műgyűjtők világa, vendég:<br />
        Spengler Katalin műgyűjtő és Valkó Margit a Kisterem Galéria vezetője</em></td>
  </tr>
  <tr>
    <td valign="top">13.45</td>
    <td valign="top"><strong>Irodalmi lépegető</strong></td>
    <td valign="top"><em>tájnyelv és Bartók, élő felolvasással és hangmontázsokkal</em></td>
  </tr>
    <tr>
    <td valign="top">15:15</td>
    <td valign="top"><strong>Mersei Kata és <br />
      Számadó Peti (DJ Analóg)</strong></td>
    <td valign="top"><em>gyógynövény- és zenegyűjtés</em></td>
  </tr>
  <tr>
    <td valign="top">16:00</td>
    <td valign="top"><strong>butAszerda</strong></td>
    <td valign="top"><em>történetek zenével</em></td>
  </tr>
  <tr>
    <td valign="top">17:00</td>
    <td valign="top"><strong>Haza és Haladás</strong></td>
    <td valign="top"><em>Tóth Benedek (szotyis zacskók), Cukros Imike (kávéscukor), Bővíz ferenc (telefonkártya és Kindertojás figura) gyűjtő</em></td>
  </tr>
  <tr>
    <td valign="top">18:00</td>
    <td valign="top"><strong>Játékgyűjtők</strong></td>
    <td valign="top"><em> <a href="http://ahianyzodarab.hu" target="_blank">http://ahianyzodarab.hu</a>/ -Molnár Péter gyűjtői podcast <a href="http://www.jatszohazprojekt.hu" target="_blank">http://www.jatszohazprojekt.hu</a>/ - Sághy Balázs társasjátékok, Angel Twosix (Transformers, robotok),  Pálfi Balázs a flippermúzeum igazgatója</em></td>
  </tr>
    <tr>
    <td valign="top">19:00</td>
    <td valign="top"><strong>Lemezgyűjtők<br />
      közvetítés a Müsziből!<br />
      házigazdák: BahamaKáosz és Tanka István (Dj Direct)</strong></td>
    <td valign="top"><em>A Müszi lemezbörze és a  Tilos Rádió Hanglemezgyűjtőinek köre: Shuriken, Suefo, Suhaid, Tomanek, Zotyka, BahamaKáosz, Györemix,  és még jópáran</em></td>
  </tr>
  <tr>
    <td valign="top">22:00</td>
    <td valign="top"><strong>No wave</strong></td>
    <td valign="top"><em>tematikus zeneválogatás</em></td>
  </tr>
</table>
    <div ng-show="next.length" class="program-guides">
        <h2 class="blue">Műsorajánló</h2>

        <div class="episode-next episode-list" data-ng-repeat="episode in next">
            <h3><a ng-href="{{episode.url}}">{{episode.text.title}}</a></h3>

            <p>
                <show-label show="episode.show"></show-label>
                <span class="pull-right main-date">{{episode.plannedFrom | date:'MMMM dd. - HH:mm'}}</span>

            </p>
        </div>
    </div>
    <div class="recent-broadcast-schedule">
        <h2 class="blue top">Az elmúlt hét adásai</h2>

        <div class="episode-last episode-list" data-ng-repeat="episode in lastWeek">
            <p>

            <h3>
                <listen-button class="pull-right" link="{{episode.m3uUrl}}"></listen-button>
                <a ng-href="{{episode.url}}">{{episode.text.title}}</a>
            </h3>
            </p>
            <p>
                <show-label show="episode.show"></show-label>
                <span class="pull-right main-date hidden-xs">{{episode.plannedFrom | date:'yyyy. MMMM dd.'}}</span>
            </p>
        </div>
    </div>
    <div class="recent-broadcast-schedule">
        <h2 class="blue top">Legfrissebb adásnaplók</h2>

        <div class="episode-last episode-list" data-ng-repeat="episode in last">
            <p>

            <h3>
                <listen-button class="pull-right" link="{{episode.m3uUrl}}"></listen-button>
                <a ng-href="{{episode.url}}">{{episode.text.title}}</a>
            </h3>
            </p>
            <p>
                <show-label show="episode.show"></show-label>
                <span class="pull-right main-date hidden-xs">{{episode.plannedFrom | date:'yyyy. MMMM dd.'}}</span>
            </p>
        </div>
    </div>
</section> <!-- col-md-6 -->

<aside class="col-md-pull-3 col-md-3">
    <div class="box">
        <h2><a href="" target="_blank">Tilos hírek</a></h2>
        <article class="news-lead" ng-repeat="text in news">
            <h3><a ng-href="/news/{{text.id}}">{{text.title}}</a></h3>
            <span ng-bind-html="text.leadFormatted"></span></p>
            <a ng-show="text.longText" class="btn btn-small btn-info pull-right" ng-href="/news/{{text.id}}">Részletek...</a>
        </article>
    </div>
</aside>
