<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6JV724"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Facebook Page Plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End Facebook Page Plugin -->
<br>
<div class="panel panel-default" ng-if=whatsPlaying.song.artist>
    <style>
        .whatsPlayingButtons > button { margin-bottom: 5px;}
    </style>
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 col-sm-10">
                <b ng-bind="whatsPlaying.whatsPlayingText">MOST SZÓL</b>
            </div>
            <div class="col-md-8 col-sm-10">
                <span class="artist" ng-bind="whatsPlaying.song.artist"></span> -
                <span class="title" ng-bind="whatsPlaying.song.title"></span>
            </div>
            <div class="col-md-2 whatsPlayingButtons" align="right">
                <button type="button" ng-click="whatsPlaying.get()" class="btn btn-small btn-info">Frissít</button>
                <button type="button" ng-click="whatsPlaying.showDetails = !whatsPlaying.showDetails" class="btn btn-small btn-info">Részletek</button>
            </div>
        </div>
                <table class="table table-sm" 
                    ng-repeat="music in whatsPlaying.song.metadata.music"
                    ng-show="whatsPlaying.showDetails">
                    <tr ng-show="music.title">
                        <td><b>Cím:</b></td>
                        <td><span ng-bind="music.title"></span></td>
                    </tr>
                    <tr ng-show="music.album.name">
                        <td><b>Album:</b></td>
                        <td><span ng-bind="music.album.name"></span>
                        </td>
                    </tr>
                    <tr ng-show="music.release_date">
                        <td><b>Kiadva:</b></td>
                        <td><span ng-bind="music.release_date"></span></td>
                    </tr>
                    <tr ng-show="music.label">
                        <td><b>Kiadó:</b></td>
                        <td><span ng-bind="music.label"></span></td>
                    </tr>
                    <tr ng-show="music.external_metadata.spotify">
                    <td><b>Spotify:</b></td>
                    <td>
                        <div ng-show="music.external_metadata.spotify.artists.length">
                            <span ng-repeat="artist in music.external_metadata.spotify.artists">
                                <a ng-href="https://open.spotify.com/artist/{{artist.id}}">
                                    <span ng-bind="artist.name || 'előadó'"></span>
                                </a><span ng-hide="$last">, </span> 
                            </span>
                        </div>
                        <div ng-show="music.external_metadata.spotify.track.name">
                            <a ng-href="https://open.spotify.com/track/{{music.external_metadata.spotify.track.id}}">
                                <span ng-bind="music.external_metadata.spotify.track.name || 'szám'"></span>
                            </a>    
                        </div>
                        <div ng-show="music.external_metadata.spotify.album.name">
                            (<a ng-href="https://open.spotify.com/album/{{music.external_metadata.spotify.album.id}}"
                                ><span ng-bind="music.external_metadata.spotify.album.name || 'album'"></span></a>)    
                        </div>
                    </td>
                    </tr>
                    <tr ng-show="music.external_metadata.deezer">
                        <td><b>Deezer:</b></td>
                        <td>
                            <div ng-show="music.external_metadata.deezer.artists.length">
                                <span ng-repeat="artist in music.external_metadata.deezer.artists">
                                    <a ng-href="https://www.deezer.com/en/artist/{{artist.id}}">
                                        <span ng-bind="artist.name || 'előadó'"></span>
                                    </a><span ng-hide="$last">, </span> 
                                </span>
                            </div>
                            <div ng-show="music.external_metadata.deezer.track.name">
                                <a ng-href="https://www.deezer.com/en/track/{{music.external_metadata.deezer.track.id}}">
                                    <span ng-bind="music.external_metadata.deezer.track.name || 'szám'"></span>
                                </a>    
                            </div>
                            <div ng-show="music.external_metadata.deezer.album.name">
                                (<a ng-href="https://www.deezer.com/en/album/{{music.external_metadata.deezer.album.id}}"
                                ><span ng-bind="music.external_metadata.deezer.album.name || 'album'"></span></a>)    
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="music.external_metadata.youtube.vid">
                        <td><b>YouTube:</b></td>
                        <td><a ng-href="https://youtube.com/watch?v={{music.external_metadata.youtube.vid}}">videó</a></td>
                    </tr>
                </table>     
    </div>
</div>

<aside class="col-md-push-9 col-md-3">
    <div ng-include src="'main/sidebar_right.html'"></div>
</aside>

<section class="col-md-pull-3 col-md-9 main" role="main">
    <div class="box">
        <!-- <h2>Tilos hírek</h2> -->
        <article class="news-lead" ng-repeat="text in news" ng-if="!$index"> 
            <h2 class="blue"><a ng-href="/news/{{text.id}}">{{text.title}}</a></h2>
            <span ng-bind-html="text.leadFormatted"></span></p>
            <a ng-show="text.longText" class="btn btn-small btn-info pull-right" ng-href="/news/{{text.id}}">Részletek...</a>
        </article>
    </div>

    <div ng-show="lead.formatted" class="panel panel-default">
        <div class="panel-heading">
            <b>{{lead.title}}</b>
        </div>
        <div class="panel-body" ng-bind-html="lead.formatted">
        </div>
    </div>


    <div class="stream-banner" ng-show="extraStreams.indexOf('samsara')">
        <!--a href="http://stream.tilos.hu/samsara.m3u"><img src="https://tilos.hu/upload/content/info/samsara_banner.png"/></a>
    </div-->

    <!--div class="stream-banner" ng-show="extraStreams.indexOf('selection_live_fogaskert')>-1">
        <a href="http://stream.tilos.hu/selection_live_fogaskert.m3u"-->
            <!--img src="../images/selection_banner.png"/></a>
    </div-->
    <!--div><iframe width="560" height="315" src="https://www.youtube.com/embed/2hUOiENef3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
    <!--a href="https://tilos.hu/page/egyszazalek"><img src="https://tilos.hu/upload/egyszazalek/1szazalek-2017-3.png"></a>
    </div-->
    <!--div>
<p>Az eddig megszokott világunk hirtelen nagyon megváltozott.</p>
<p>Szokásainkat, napirendünket, munkáinkat, egész életünket gyökeresen kell átértékelnünk, miközben felelősségünk nagyobb, mint valaha.</p>
<p>Ugyan naponta hallunk, olvasunk olyanokról, akik jelentős, akár végzetes gazdasági veszteségeket szenvednek el, ám kevés szó esik a háttérben nélkülözhetetlen munkát végző civilekről, pedig most rájuk is nehéz idők járnak. Közéjük tartozunk mi is, hiszen </p-->
<!--p><strong>A Tilos Rádió civil aktivitások felülete, hangja, krónikása, így ha segítesz a talpon maradásunkban, egyben sok-sok civil szervezetet is támogatsz.</strong></p>
<p><em>adószámunk:</em><br />
  <strong>Tilos Kulturális Alapítvány<br />
    18002454-2-42</strong></p>
<p>Eddig is nagyon sokan támogattatok minket, számítunk rátok ebben az évben is!</p>
<strong>Hogyan rendelkezhetsz adód 1+1 %-áról?</strong>
<p>- Az adó 1+1% felajánlásáról az új online felületen, vagy a 19SZJA EGYSZA lapján, illetve az erre a célra kialakított 19EGYSZA jelű nyomtatványon is rendelkezhetsz.
<br>- Az adó 1+1% felajánlásáról a rendelkező nyilatkozatot 2020. május 20-ig kell elektronikusan vagy postán megküldened a NAV-hoz, akár a bevallás részeként, akár külön.
<br>- Ha a munkáltatódat bízod meg bevallási kötelezettség teljesítésével, a rendelkező nyilatkozatot lezárt borítékban 2020. május 10-ig a munkáltatónak is átadhatod.
<br><strong>Rendelkezésed akkor érvényes, ha befizetted az adód és nincs adótartozásod!</strong></p></div>
    <div><a href="https://tilos.hu/page/egyszazalek"><strong> << 1% face borítók, egyéb segédinformációk >> </strong></div-->
    <!--div><a href="https://www.facebook.com/events/1079527849104625/"><img src="https://tilos.hu/upload/egyszazalek/tamogass.jpg"></a-->
    <!--div><a href="https://maraton.tilos.hu/"><img src="https://maraton.tilos.hu/images/2020-Maraton.png"></a>
    </div-->
    <!-- div>
<p>A Tilos Maratont, rádiónk éves adománygyűjtő fesztiválját hagyományosan az év utolsó tanítási hetében szoktuk megrendezni, ám ezt is felülírta a COVID -19 krízis.   
Az egyhetes rádiós esemény indulásával párhuzamosan megújítjuk a webes Tilos adományplázát, ahol számos korábbi kedvelt minta mellett, az alkalomra készült vadiúj pólókat is találtok.</p></div-->
<!-- div><p><strong>A szokott időben és helyszínen, a Dürer Kertben nem tudjuk megtartani közösségi eseményünket. Ám ha fesztivált nem is, a Tilos Rádióban az FM 90.3 frekvencián, és a rádió online felületein elMaraton jelszóval támogatásgyűjtő műsorfolyamot indítunk, június 8-tól kezdődően.</strong></p></div>
<div><p>A Dürerrel közösen úgy tervezzük, hogy szeptember elején azért bepótolunk valamit a Maratonból, és a Tilos szülinapot egész hetes eseménnyé bővítjük.</p></div-->
<!--div><p>A részletes napi program bontást megtaláljátok a <a href="https://www.facebook.com/events/1209215349247072"><strong>facebook esemény</strong></a> leírásában.</p></div-->
<!--div><p>Csatlakozzatok és osszátok a <strong><a href="https://www.facebook.com/events/1193946704289592/">facebook eseményt</a></strong> amelyben folyamatosan érkeznek a maratonos hírek. A részletes programot pedig megtaláljátok a <a href="https://maraton.tilos.hu/"><strong>https://maraton.tilos.hu</strong></a> oldalon is!</p></div>
<!--div><a href="https://tilos.hu/page/tamogass"><img src="https://maraton.tilos.hu/images/2020-banner-donation.png"></a></div-->
<!--div><a href="https://tixa.hu/tilos-adomany-bogracs"><img src="https://maraton.tilos.hu/images/2020-banner-bogracs.png"></a></div-->
<!--div><a href="http://plaza.tilos.hu"><img src="https://maraton.tilos.hu/images/2020-banner-plaza.png"></a></div>
<div><a href="https://tilos.hu/page/aukcio"><img src="https://maraton.tilos.hu/images/2020-banner-aukcio.png"></a></div-->
<!-- div><p><a href="https://tilos.hu/news/5cfd7fdb3f86ee61a2a421ec">06.07.</a> :: <a href="https://tilos.hu/news/5cfd81823f86ee61a2a421ed">06.08.</a> :: <a href="https://tilos.hu/news/5cfd82253f86ee61a2a421ee">06.09.</a> :: <a href="https://tilos.hu/news/5cfd823e3f86ee61a2a421ef">06.10.</a> :: <a href="https://tilos.hu/news/5cff314e3f86ee61a2a421f0">06.11.</a> :: <a href="https://tilos.hu/news/5d007d8c3f86ee61a2a421f1">06.12.</a> :: <a href="https://tilos.hu/news/5d01d92b3f86ee61a2a421f2">06.13.</a> :: <a href="https://tilos.hu/news/5d02a7673f86ee61a2a421f3">06.14.</a> :: <a href="https://tilos.hu/news/5d047fbc3f861b5cae4cfb25">06.15.</strong></a></p></div>
<div><p><a href="https://tilos.hu/page/tamogass"><strong>Itt támogathatod a Tilos Rádió fennmaradását!</strong></a></p></div-->
<!-- div><a href="https://tilos.hu/page/tematikusnap-exyu"><img src="https://tilos.hu/upload/content/info/tematikus-ex-yu.jpg"></div-->


    <div ng-show="next.length" class="program-guides">
        <h2 class="blue">Műsorajánló</h2>
        <div class="episode-next episode-list" data-ng-repeat="episode in next">
            <div class="spacer">
                <p>
                    <show-label show="episode.show"></show-label>
                    <span class="main-date">{{episode.plannedFrom | date:'MMMM dd. - HH:mm'}}</span>
                </p>
                <h3><a ng-href="{{episode.url}}">{{episode.text.title | truncate:true:100:'...'}}</a></h3>

                <div ng-bind-html="episode.text.formatted | truncate:true:240:'...'"></div>
            </div>
        </div>
    </div>
    <div class="row recent-broadcast-schedule">
        <h2 class="blue top">Az elmúlt hét adásai</h2>
        <div class="col-md-6 episode-last episode-list" data-ng-repeat="episode in lastWeek">
            <div class="spacer">
                <p>
                    <show-label show="episode.show"></show-label>
                    <div class="main-date hidden-xs">{{episode.plannedFrom | date:'yyyy. MMMM dd.'}}</div>
                </p>
                <h3>
                    <listen-button class="pull-left" link="{{episode.m3uUrl}}"></listen-button>
                    <a ng-href="{{episode.url}}">{{episode.text.title | truncate:true:55:'...'}}</a>
                </h3>
                <div class="image-wrapper" ng-if="!hasPic(episode)">
                    <img ng-src="{{ getShowPic(episode) }}" ensure-pic alt="Adás borító" />
                </div>
                <div ng-bind-html="getPicFront(episode)"></div>
                <fade/>
            </div>
        </div>
    </div>
        
<!--div class="box">
      <article class="news-lead" ng-repeat="text in news">
            <h3><a ng-href="/news/{{text.id}}">{{text.title}}</a></h3>
            <span ng-bind-html="text.leadFormatted"></span></p>
            <a ng-show="text.longText" class="btn btn-small btn-info pull-right" ng-href="/news/{{text.id}}">Részletek...</a>
      </article>
</div -->
    
    <!-- div class="recent-broadcast-schedule">
        <h2 class="blue top">Legfrissebb adásnaplók</h2>

        <div class="episode-last episode-list" data-ng-repeat="episode in last">
            <h3>
                <listen-button class="pull-left" link="{{episode.m3uUrl}}"></listen-button>
                <a ng-href="{{episode.url}}">{{episode.text.title | truncate:true:100:'...'}}</a>
            </h3>
            <div ng-bind-html="episode.text.formatted | truncate:true:240:'...'"></div>
            <p>
                <show-label show="episode.show"></show-label>
                <span class="pull-right main-date hidden-xs">{{episode.plannedFrom | date:'yyyy. MMMM dd.'}}</span>
            </p>
        </div>
    </div -->
</section> <!-- col-md-6 -->
<!-- aside class="col-md-pull-3 col-md-3">
<div class="fb-page" data-href="https://www.facebook.com/tilosradio/" data-tabs="timeline" data-height="5000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/tilosradio/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tilosradio/">Tilos Rádió</a></blockquote></div>
</aside -->

