<!doctype html>
<!-- RIP Rónyai Marci (1978-2015) -->
<html ng-app="tilosApp">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6JV724');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng:bind-template="Tilos Rádió - {{pageTitle}}">Tilos Rádió 90,3MHz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="og:image" content="/images/kockalogo.png"/>
    <meta name="og:site_name" content="Tilos Rádió"/>
    <meta name="og:title" content="{{pageTitle}}"/>
    <meta name="og:description" content="{{pageDescription}}"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">

    <base href="/">

    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      },
      "content": {
        "message": "A tilos.hu sütiket használ, hogy a felhasználói élményt a végsőkig fokozza.",
        "dismiss": "Értem!",
        "link": "Részletek",
        "href": "/page/adatvedelem"
      }
    })});
    </script>
    
    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '404001150367785');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=404001150367785&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

    <!-- Maraton mutato -->
    <!-- <link rel="stylesheet" type="text/css" href="styles/maraton-mutato-styles.css" /> -->
    <!-- <script src="../client/main/dntn-ind.js"></script> -->
    <!-- END Maraton mutato -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6JV724"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--[if lt IE 8]>
<div class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.
</div>
<![endif]-->

<div growl></div>


<div  scroll>
    <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Navigáció</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="/#"> Tilos&nbsp;Rádió&nbsp;90,3&nbsp;MHz</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse container" ng-show="isCollapsed">
                <ul class="nav navbar-nav" ng-click="isCollapsed = !isCollapsed">
                    <li active-link="active"><a href="/index">Főoldal</a></li>
                    <li active-link="active"><a href="/shows">Műsorok</a></li>
                    <li active-link="active"><a ng-href="/archive/{{now | date:'yyyy/MM/dd'}}">Archív</a></li>
                    <li active-link="active"><a href="/mixes/dj">Hangtár</a></li>
                    <li>
                    <li class="extra-menu">
                        <a href="#" class="dropdown-toggle extraLink" data-toggle="dropdown">Krónika</a>
                        <ul class="extra-menu-content">
                            <li active-link="active"><a href="/page/sajto-2017">Sajtó</a></li>
                            <li active-link="active"><a href="/page/maraton">Maraton</a></li>
                            <li active-link="active"><a href="/page/legendarium">Legendárium</a></li>
                            <li active-link="active"><a href="/page/memento">Mementó</a></li>
                            <li active-link="active"><a href="/page/tematikusnap">Tematikus napok</a></li>
                            <li active-link="active"><a href="/page/irasok">Írások</a></li>
                        </ul>
                    </li>
                    </li>
                    <li active-link="active" class="highlight"><a href="/page/tamogass">Támogass</a></li>
                    <li class="extra-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="more-button">+</div>
                        </a>
                        <ul class="extra-menu-content">
                            <li active-link="active"><a href="/page/extra">Extra</a></li>
                            <li active-link="active"><a href="/page/info">Infó</a></li>
                            <li active-link="active"><a href="/page/elerhetoseg">Elérhetőség</a></li>
                        </ul>
                    <li active-link="active" class="englishLink"><a href="/page/english">EN</a></li>

                    </li>

                    <li class="visible-xs"><a analytics-on analytics-category="listen" analytics-event="listen_256" href="http://stream.tilos.hu/digital.m3u" target="_blank"><span>256</span>
                        mp3</a></li>
                    <li class="visible-xs"><a analytics-on analytics-category="listen" analytics-event="listen_128" href="/api/v1/m3u/lastweek?stream=/tilos_128.mp3"
                                              target="_blank"><span>128</span> mp3</a></li>
                    <li class="visible-xs"><a analytics-on analytics-category="listen" analytics-event="listen_32" href="/api/v1/m3u/lastweek?stream=/tilos_32.mp3"
                                              target="_blank"><span>32</span> mp3</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" ng-controller="SearchBox" ng-submit="search()">
                    <div class="form-group">
                        <label for="search" class="sr-only">keresés a Tilos Rádió oldalán</label>
                        <input type="search" id="search" class="form-control" name="search" placeholder="keresés"
                               ng-model="term">
                    </div>
                    <button type="submit"><span class="icon-search"></span></button>
                </form>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- container -->
    </nav>

    <header class="main-header hidden-xs">
        <div class="container">
            <div class="row">
                <div class="brand-holder col-sm-5 col-md-6">
                    <a href="/">
                      	<img src="/images/logo.png" alt="Tilos Rádió" class="logo">
                    </a>

                    <h1>Tilos&nbsp;Rádió&nbsp;90,3</h1>

                    <h5>
                      <a href="/page/faq">
                        <img src="/images/header-icons-faq.png">
                        <span class="header">FAQ</span>
                      </a>
                  	</h5>

                </div>
                <div class="col-sm-offset-1 col-md-offset-0 col-sm-6 col-md-6 radio-holder">
                    <div class="radio-player">
                        <div class="col-sm-12 col-md-6 radio-info">
                            <h3>
                                <current-show></current-show>
                            </h3>
                        </div>
                        <div class="col-sm-12 col-md-6 radio-formatList">
                            <h4>HALLGASD ONLINE!<span class="active icon-loop"></span></h4>
                            <ul class="stream-chooser">

                                <li><a href="/api/v1/m3u/lastweek?stream=/tilos" target="_blank"><span>256</span> mp3</a>
                                </li>
                                <li><a href="/api/v1/m3u/lastweek?stream=/tilos_128.mp3" target="_blank"><span>128</span>
                                    mp3</a></li>
                                <li><a href="/api/v1/m3u/lastweek?stream=/tilos_32.mp3" target="_blank"><span>32</span>
                                    mp3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!--container -->
    </header>
</div>
<!-- navbar-fixed-top -->

<!-- <div div ng-show="player" id="jquery_jplayer_1" class="jp-jplayer"></div>
<div div ng-show="player" id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
        <div class="jp-gui jp-interface">
            <div class="jp-progress">
                <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                </div>
            </div>
            <div class="jp-time-holder">ad
                <div class="jp-current-time"></div>
                <div class="jp-duration"></div>
            </div>
            <ul class="jp-controls">
                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
            </ul>
            <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
            </div>
        </div>
        <div class="jp-details">
            <ul>
                <li><span class="jp-title"></span></li>
            </ul>
        </div>
        <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a
                href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
    </div>
</div>  -->
    <!--div id="maraton" ng-controller="MaratonCtrl">
        <center>
        <div id="donation-indicator-wrapper">
            <div id="title">
            <span><b>MARATON</b></span><br>
            <span>ADOMÁNY<br></span>
            <span>MUTATÓ<br></span>
            <span id="income-box">MONEY</span>
            </div>
                 <div id="donation-indicator-container">
                    <div class="ico-wifi"></div>
                    <div id="progress"></div>
                    <div id="axis"></div>
                </div>
            </div>
        </center>
    </div-->

<main class="container" id="mainIndex">

    <ui-view></ui-view>

</main>
<!-- /container -->


<div class="footer-holder">
    <footer class="container">
        <div class="row">
            <div class="col-md-4">
                <nav class="footer-nav">
                </nav>
                <h2>A Tilos Rádió elérhetőségei</h2>

                <p>adástelefon: 215 3773</p>

                <p>e-mail: <a href="mailto:radio@tilos.hu">radio@tilos.hu</a></p>

                <p>A weboldallal kapcsolatos kérdésekben az illetékes: <a href="mailto:webmester@tilos.hu">webmester@tilos.hu</a>
                </p>

                <p>Hírt, eseményt, ajánlót ide küldj: <a href="mailto:hirek@tilos.hu">hirek@tilos.hu</a></p>

                <p>Zenei ajánlót, dalt, mixet ide küldj: <a href="mailto:zene@tilos.hu">zene@tilos.hu</a></p>

                <p>Ha szeretnél olyan tematikájú műsort indítani, ami még nincs a Tilosban, akkor szerkesztőségének írj: <a
                        href="mailto:szerkesztoseg@tilos.hu">szerkesztoseg@tilos.hu</a></p>

            </div>
            <div class="col-md-4">
                <h2>A Tilos Rádiót működtető Tilos Kulturális Alapítvány elérhetőségei:</h2>

                <p>
                    A Tilos Rádió egy non-profit közösségi rádió. <br/>
                    Adástelefon: (+361) 2153773<br/>
                    Frekvencia: 90.3Mhz<br/>
                    1085 Budapest, Mária u. 54.<br/>
                    telefon: (+361) 476 8491<br/>
                    fax: (+361) 476 8492<br/>
                    <a href="mailto:radio@tilos.hu">radio@tilos.hu</a><br/>
                    postacím: 1462 Budapest, Pf. 601.<br/><br/>
                    <a href="/page/alapitvany">Tilos Kulturális Alapítvány info</a><br/>
                    adószám: 18002452-2-42
                </p>
            </div>
            <div class="col-md-4">
                <h2>A Tilos Kulturális Alapítvány első és alapvető tevékenysége a Tilos Rádió működtetése.</h2>

                <p>
                    A folyamatos, huszonnégy órás, élő műsorokat közvetítő rádió működését közel 380 önkéntes műsorkészítő és mintegy 150 munkatárs önzetlen munkája teszi lehetővé. A Tilos interaktív műsorfolyama civil küldetést teljesít: alternatív művészeti értékeket mutat meg, ösztönzi a társadalmi szolidaritást, küzd a diszkrimináció ellen, harcol az emberi szabadságjogokért.<br>A <a href="/page/alapitvany">Tilos Kulturális Alapítvány</a> demokráciát épít.
                </p>
                <p>
                 <a href="https://www.acrcloud.com/broadcast-monitoring">Radio airplay monitoring</a> is powered by <a href="https://www.acrcloud.com/">ACRCloud</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>© 2018. Tilos Rádió -- Minden jog fenntartva<br/>
                <a href="/page/adatvedelem">adatvédelmi tájékoztató</a></p>
            </div>
        </div>
    </footer>
</div>
<!-- footer-holder -->


<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'GA_TOKEN');
</script>

<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '1511345089080647']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1511345089080647&amp;ev=PixelInitialized" /></noscript>

</body>
</html>
