<!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6JV724"

height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->
<div class="episode-tab">
    <ul class="pager episode-box-pager">
        <li class="cursorPointer prev-link" ng-hide="prevDisabled"><a ng-click="prev()">&larr; Korábbi adások</a></li>
        <li class="cursorPointer next-link" ng-hide="nextDisabled"><a ng-click="next()">Későbbi adások &rarr;</a></li>
    </ul>
    <div class="panel panel-default episode-box" ng-repeat="episode in show.episodes">
        <div class="panel-heading">
            <listen-button class="pull-left" link="{{episode.m3uUrl}}"> </listen-button>
            <div class="episode-title">
                <a ng-show="episode.persistent" ng-href="{{episode.url}}">{{episode.plannedFrom| date:'yyyy.MM.dd.'}} {{episode.text.title}}</a></span>
                <span ng-hide="episode.persistent">{{episode.plannedFrom| date: 'yyyy.MM.dd.'}}</span>
            </div>
        </div>
    </div>

</div>
<ul class="pager episode-box-pager">
    <li class="cursorPointer prev-link" ng-hide="prevDisabled"><a ng-click="prev()">&larr; Korábbi adások</a></li>
    <li class="cursorPointer next-link" ng-hide="nextDisabled"><a ng-click="next()">Későbbi adások &rarr;</a></li>
</ul>
